<h1>Signup</h1>

<%= form_for @company do |f| %>
  <% if @company.errors.any? %>
    <ul>
    <% @company.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.text_field  :name, placeholder: "Company name"  %>
  </p>
  <p>
    <%= f.text_field  :email, placeholder: "E-mail"  %>
  </p>
  <p>
    <%= f.text_field  :url, placeholder: "URL"  %>
  </p>
  <p>
    <%= f.password_field  :password, placeholder: "Password"  %>
  </p>
  <p>
    <%= f.password_field  :password_confirmation, placeholder: "Password confirmation"  %>
  </p>

  <%= f.submit "Signup" %>
<% end %>