<h1>Published posts</h1>

<%= link_to 'Create new post', new_company_post_path %>

<% @posts.each do |post|  %>
  <p>
    Title: <%= post.title %><br>
    Description: <%= post.description %>
  </p>
  <%= link_to 'Edit', edit_company_post_path(params[:company_id], post) %>
  <%= link_to 'Delete', company_post_path(id: post.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
